.main-btn{
    background-color: var(--blue-color);
    color: var(--text-white) !important;
    outline: none !important;
    border-color: transparent !important;
    border-radius: 8px;
    padding: 2px 12px;
    text-align: center;
}